html,
body {
    margin: 0;
}

#imagem_fundo {
    background: url("Saude.jpg");
    height: 100%;
    text-align: center;
    background-position: center;
}

#imagem_fundo2 {
    background: url("ONU.svg");
    height: 100%;
    text-align: center;
    background-position: center;
}

#titulo {
    color: orange;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
}

#titulo2 {
    color: white;
    padding-top: 5%;
    font-size: 70px;
    text-shadow: 2px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 3px solid white;
}

#subtitulo {
    color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
}

#subtitulo2 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
}

#p1 {
    color: white;
    font-size: 150%;
    text-shadow: 1px 1px black;
    margin-left: 15%;
    margin-right: 15%;
}

#acao {
    color: white;
    border: 1px white solid;
    padding: 10px 20px 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

#acao2 {
    color: white;
    border: 1px black solid;
    padding: 10px 20px 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-size: 110%;
}